<section>
  <header>
    <h1>Notes</h1>
    <input placeholder="Add note" autofocus="" [(ngModel)]="newNote.title" (keyup.enter)="addNote()">
  </header>
  <section *ngIf="notes.length > 0">
      <md-card *ngFor="let note of notes" [class.completed]="note.complete">
        <div>
          <!--input class="toggle" type="checkbox" (click)="toggleNoteComplete(note)" [checked]="note.complete"-->
          <label>{{note.title}}</label>
          <button  md-icon-button (click)="removeNote(note)"><md-icon class="md-24">delete</md-icon></button>
        </div>
      </md-card>
  </section>
  <footer *ngIf="notes.length > 0">
    <span><strong>{{notes.length}}</strong> {{notes.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
